@font-face {
    font-family: ;
    src: url();
}

body {
    margin: 0;
    color: white;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
}

.carte {
    background-color: orange;
    padding: 1.5rem;
    border-top-left-radius: 10px;
}

.img img {
    transform: translate(40%, 40%);
}
.carte.deux {
    background-color: turquoise;
}

.carte.trois {
    background-color: green;
}

.txt {
    width: 80% auto;
    padding: 1rem;
}

.btn {
    background-color: white;
    padding: 1rem;
    color: black;
}